name: Check build

on:
  [pull_request]

jobs:
  check_build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-version:
          - 4.07.1

    runs-on: ${{ matrix.os }}

    steps:
      - name: Get code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Build
        run: |
          eval $(opam env)
          opam install dune ocamlformat
          
          opam pin add . -y
          make build

      - name: Debug
        run: |
          eval $(opam env)
          dune installed-libraries
      
      - name: Tests
        run: |
          eval $(opam env)
          dune runtest

          cd meja
          make build
          make test

      - name: Website
        run: |
          eval $(opam env)
          make test-website-build
