name: ci

on:
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
        id: docker-build
        with:
          install: true
      - name: Build
        run: |
          docker build . # will run buildx
